/***********************************************************************

   Theme Name:      kpt_servo_child_theme
   Description:     Keith Pierson Toyota Service
   Version:         0.1
   Author:          AMSI
   Template:        servo

***********************************************************************/

/**  //////////  PALATE  //////////
BRAND - #000
BRAND-MED - #fff
BRAND-DARK - #8a1232
PRIMARY - #00b4f1
PRIMARY-DARK - #0080c6
SUCCESS - #38B265
SUCCESS-DARK - #0B8237
BG-LIGHT - #f5f5f5
**/

/* A/B TEST CLASSES */
.schedule-cta-test-01 {};

/** GENERAL **/
.bg-main { background-color: #000; color: #fff; }
.bg-main-med { background-color: #edf0f5; }

/** TYPOGRAPHY **/
blockquote { border-color: #000;  }
.fa-ul .fa.fa-check { color: #38B265; }
/** LINKS **/
a, a.list-group-item, a.list-group-item:focus, a.list-group-item:hover { color: #c00; }
a:focus, a:hover { color: #c00; }
.btn-main { background-color: #000000b3 ; border-color: #fff; color: #fff; font-weight: 900;}
.btn-main:hover, .btn-secondary { background-color: #c00; border-color: #c00; color:#fff; }
.btn-secondary:hover, .btn-secondary:focus { background-color: #8a1232; border-color: #8a1232; }
.btn-main-outline { background-color: transparent; border-color: #000; color: #000; }
.btn-main-outline:focus, .btn-main-outline:hover { background-color: #c00; border-color: #c00; color: #fff; }
.btn-success, .btn-success-outline:focus, .btn-success-outline:hover { background-color: #38B265; border-color: #38B265; }
.btn-success:focus, .btn-success:hover { background-color: #0B8237; border-color: #0B8237; }
.btn-success-outline { background-color: transparent; border-color: #38B265; color: #38B265; }
.dropdown-menu { border-bottom: #c00 5px solid; }
.text-main { color: #000; }
.text-primary { color: #c00; }
/* NAV */
nav.navbar.navbar-default { border-top: #ddd 0px solid!important; margin-bottom: 0; background-color: #fff!important;}
.navbar-default .navbar-nav>li>a { color: #c00!important; }

/** HEADER **/
header .larger { color: #fff ; }
header.pad-vert-2x.hidden-xs { background-color: #fff!important }
/** FOOTER **/
footer { border-top: #dcdee0  1px solid; }
button.close { color: #000; }
/** HOME **/
.oem blockquote { border-color: #000; }
/** ONE TO ONE **/
#one-to-one .round { margin: 0 auto 1rem; padding: 1.2rem 0 0; }
#one-to-one h4 { font-weight: 700; margin: 0; }
/** CARFAX **/
h1.carfax-txt, h2.carfax-txt, h3.carfax-txt, h4.carfax-txt { color: #3777bc; }
.carfax-bodytxt { color: #000; }
.carfax-btn, .carfax-btn-alt { color: white; background-color: #f58d17; border-color: #f58d17; font-weight: bold; }
.carfax-btn:hover { color:#fff; background-color: #3777bc; border-color: #3777bc; }
.carfax-btn-alt:hover { color:#fff; background-color: transparent!important; border: 1px solid #fff!important; }
/** CARFAX BANNER **/
#carfax-banner > section.header { background-color: #0085ba; }
/** COUPON **/
.coupon { border-color: #888; color: #000; }
.coupon .disclaimer { border-color: #000; color: #000; }
/* MBRACE */
h1.mbrace-txt, h2.mbrace-txt, h3.mbrace-txt, h4.mbrace-txt { color: #6d6c6c; }
.mbrace-bodytxt { color: #000; }
.mbrace-btn, .mbrace-btn-alt { color: white; background-color: #c00; border-color: #c00; font-weight: bold; }
.mbrace-btn:hover { color:#fff; background-color: #3777bc; border-color: #3777bc; }
.mbrace-btn-alt:hover { color:#fff; background-color: transparent!important; border: 1px solid #fff!important; }

/**  //////////  SMALL  //////////  **/
@media only screen and (min-width : 768px) {
    /** NAV **/
    .navbar-default .nav.navbar-nav>li.li-right>a { background-color: #000; border-color: #000; color: #fff; }
    .navbar-default .nav.navbar-nav>li.li-right>a:hover { background-color: #fff; border-color: #fff; }
    .navbar-default .navbar-nav>li>a { color: #fff!important; }
    /** STAFF **/
    #staff .bio { min-height: 395px; margin-bottom: 1rem; }
}

/**  //////////  LARGE  //////////  **/
@media only screen and (min-width : 1200px) {
    /** STAFF **/
    #staff .bio { min-height: 435px; }
}

@media (min-width: 768px) { .navbar-right { margin-right: 0px!important; } }

/**  //////////  LARGE  //////////  **/
@media only screen and (min-width : 1200px) {
    /** STAFF **/
    #staff .bio { min-height: 435px; }
}

/*--------------------------------------------------------------
# CHILD THEME DEFAULTS
--------------------------------------------------------------*/

/**  //////////  LARGE  //////////  **/
@media only screen and (min-width : 1200px) {
    /** STAFF **/
    #staff .bio { min-height: 435px; }
}

/**  //////////  STORE SPECIFIC  //////////  **/
/** BACKGROUNDS **/
#service > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-services-xs.jpg'); }
#batteries > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-batteries-xs.jpg'); }
#contact > section.header { background: linear-gradient(rgba(10,93,120,.7), rgba(10,93,120,.7)), url('/wp-content/themes/servo/assets/bg-contact-xs.jpg'); }
#faq > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-faq-banner-xs.jpg'); }
#home .oem { background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('/wp-content/themes/servo/assets/bg-oem-parts-xs.jpg'); }
#home > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-home-banner-xs.jpg'); }
#learning-center > section.header { background: linear-gradient(rgba(10,93,120,.7), rgba(10,93,120,.7)), url('/wp-content/themes/servo/assets/bg-home-banner-xs.jpg'); }
#carfax > section.header { background: url('/wp-content/themes/servo/assets/bg-carfax-xs.jpg'); }
.local { background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/wp-content/themes/servo/assets/bg-home-local-xs.jpg'); }
.usp-2 { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/usp-shuttle-xs.jpg'); }
.usp-9 { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/usp-loaner-sm.jpg'); }
.usp-16 { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/usp-fluid-sm.jpg'); }
.usp-17 { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/usp-brakecomponents-sm.jpg'); }
#maintenance>section.header {background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),url('/wp-content/themes/servo/assets/bg-vw-maintenance-xs.jpg');background-size: cover;}
#batteries > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-batteries-xs.jpg'); }
#one-to-one > section.banner { background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/wp-content/themes/cn_servo_child_theme/assets/bg-one-to-one-xs.jpg'); }
#tires> section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-tires-xs.jpg'); background-size: cover;}
#oil > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-oil-change-xs.jpg'); background-size: cover;}
#roadside>section.header {background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),url('/wp-content/themes/servo/assets/bg-roadside-assistance-xs.jpg');background-size: cover;}
#brakes > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-brakes-xs.jpg'); background-size: cover;}
#warranty > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-warranty-xs.jpg'); background-size: cover;}
#owner-adv > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-fordownership-xs.jpg'); background-size: cover;}
#toyotacare > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-toyotacare-xs.jpg');background-size: cover; }

/** ///// SMALL ///// **/
@media only screen and (min-width : 768px) {
    /** BACKGROUNDS **/
    #service > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-services-sm.jpg'); }
    #batteries > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-batteries-sm.jpg'); }
    #contact > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-contact-sm.jpg'); }
    #faq > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/bg-faq-banner-sm.jpg'); }
    #home .oem { background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('/wp-content/themes/servo/assets/bg-oem-parts-sm.jpg'); }
    #home > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/bg-home-banner-sm.jpg'); }
    #learning-center > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/bg-home-banner-sm.jpg'); }
    #carfax > section.header { background: url('/wp-content/themes/servo/assets/bg-carfax-sm.jpg'); }  #maintenance>section.header {background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),url('/wp-content/themes/servo/assets/bg-vw-maintenance-sm.jpg');background-size: cover;}
    .local { background: url('/wp-content/themes/servo/assets/bg-home-local.jpg'); }
    #tires > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-tires-sm.jpg');background-size: cover;}
    #oil > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-oil-change-sm.jpg'); background-size: cover;}
    #roadside>section.header {background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),url('/wp-content/themes/servo/assets/bg-roadside-assistance-sm.jpg');background-size: cover;}
    #brakes > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-brakes-sm.jpg'); background-size: cover;}
    #one-to-one > section.banner { background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/wp-content/themes/cn_servo_child_theme/assets/bg-one-to-one-sm.jpg'); }
    #warranty > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-warranty-sm.jpg'); background-size: cover;}
    #owner-adv > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-fordownership-sm.jpg'); background-size: cover;}
    #toyotacare > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-toyotacare-sm.jpg');background-size: cover; }
}

/** ///// MEDIUM ///// **/
@media only screen and (min-width : 992px) {
    /** BACKGROUNDS **/
    #service > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-services-md.jpg'); }
    #batteries > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-batteries-md.jpg'); }
    #contact > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),url('/wp-content/themes/servo/assets/bg-contact-md.jpg'); }
    #faq > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/bg-faq-banner-md.jpg'); }
    #home .oem { background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('/wp-content/themes/servo/assets/bg-oem-parts-md.jpg'); }
    #home > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/bg-home-banner-md.jpg'); }
    #learning-center > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/bg-home-banner-md.jpg'); }
    #carfax > section.header { background: url('/wp-content/themes/servo/assets/bg-carfax-md.jpg'); }
    #one-to-one > section.banner { background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('/wp-content/themes/cn_servo_child_theme/assets/bg-one-to-one-md.jpg'); }
    #maintenance>section.header {background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),url('/wp-content/themes/servo/assets/bg-vw-maintenance-md.jpg');background-size: cover;}
    #tires > section.header {background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-tires-md.jpg');background-size: cover;}
    #oil > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-oil-change-md.jpg'); background-size: cover;}
    #roadside>section.header {background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),url('/wp-content/themes/servo/assets/bg-roadside-assistance-md.jpg');background-size: cover;}
    #brakes > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-brakes-md.jpg'); background-size: cover;}
    #warranty > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-warranty-md.jpg'); background-size: cover;}
    #owner-adv > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-fordownership-md.jpg'); background-size: cover;}
    #toyotacare > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-toyotacare-md.jpg');background-size: cover; }
}

/** ///// LARGE ///// **/
@media only screen and (min-width : 1200px) {
    /** BACKGROUNDS **/
    #batteries > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-batteries-lg.jpg'); }
    #contact > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-contact-lg.jpg'); }
    #faq > section.header { background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('/wp-content/themes/servo/assets/bg-faq-banner-lg.jpg'); }
    #home .oem { background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8)), url('/wp-content/themes/servo/assets/bg-oem-parts-lg.jpg'); }
    #home > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-home-banner-lg.jpg'); }
    #learning-center > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-home-banner-lg.jpg'); }
    #maintenance>section.header {background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)),url('/wp-content/themes/servo/assets/bg-vw-maintenance-lg.jpg');background-size: cover;}
    #warranty > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-warranty-lg.jpg'); background-size: cover;}
    #owner-adv > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-fordownership-lg.jpg'); background-size: cover;}
    #toyotacare > section.header { background: linear-gradient(90deg, rgba(12, 12, 12, 0.7), rgba(19, 16, 16, 0.7)), url('/wp-content/themes/servo/assets/bg-toyotacare-lg.jpg');background-size: cover; }
}

#service > section.header, #batteries > section.header, #contact > section.header, #home > section.header, #home .oem, #learning-center > section.header, #one-to-one > section.header, #service section.rewards, #faq > section.header, #carfax > section.header,  .local, section.header, #maintenance >section.header, #brakes>section.header  { background-position: center; background-size: cover; border: 0; color: #fff; }

/**  //////////  PLEASE ADD OVERRIDES BELOW THIS LINE  //////////  **/

footer a.active.focus, footer a.active:focus, footer a.focus, footer a:active.focus, footer a:active:focus, footer a:focus, footer a:hover {
    color: #c00;
}

.bg-main-drk {
    background-color: #fff;
    border-top: 1px solid #dcdee0!important;
}

footer .bg-main-drk, footer .bg-main-drk a {
    color: #000!important;
}

footer .bg-main-drk a:hover {
    color: #c00;
}

footer, footer a {
    color: #333;
}

footer, footer a:hover {
    color: #000;
}

@media only screen and (min-width: 1001px) {
    section.text-center.coupons {
        background-color: #f5f5f5!important;
    }

}

@media only screen and (min-width: 767px) {
    nav.navbar.navbar-default {
        border-top: #ddd 0 solid!important;
        margin-bottom: 0;
        background-color: #c00!important;
    }
}

.navbar-nav .open .dropdown-menu {
    background: #fff!important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fff!important;
    background-color: #c00!important;
    border-top: 1px solid transparent!important;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    background-color: #c00!important;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color:#333;
}

ul.dropdown-menu {
    border-top: transparent;
}

.fa-bars:before, .fa-navicon:before, .fa-reorder:before {
    color: #c00!important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #333!important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent!important;
}

.navbar-default .navbar-toggle {
    border-color: #000;
}

.btn-primary-outline:focus, .btn-primary-outline:hover, .btn-primary:active, .btn-primary:active.btn-primary:focus, .btn-primary:focus, .btn-primary:hover {
    background-color: #000;
    border-color: #000;
    color: #fff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #11528a!important;
    border-color: #11528a!important;
}

.btn-primary {
    border-color: transparent;
}

.btn-primary:hover {
    color: #fff;
    background-color: #c00!important;
    border-color: #c00!important;
}

.nav_parts > a::before {
    content: "";
}

section.text-white.oem {
    background-color: #c00;
}

section#whybuyvideo {
    background-color: #333;
}

section.bg-ase {
    background-color: #c00;
}

.btn {
    border-radius: 0;
    border-radius: 25px!important;
}

a.btn.btn-block.btn-primary.schedule-cta-test-01 {
    background-color: #c00;
    color: #fff;
    font-weight:900;
}

a.btn.btn-block.btn-primary.schedule-cta-test-01:hover {
    background-color: #900!important;
}

.btn.btn-block.btn-secondary {
    background-color: #383838;
    color: #fff;
    border: transparent 1px solid!important;
}

.btn.btn-block.btn-secondary:hover {
    background-color: #c00;
    /*border: #000 1px solid;*/
}

.btn-white-outline {
    background-color: transparent;
    border: #fff 1px solid;
    color: #fff;
}

a.btn.btn-primary {
    border-radius: 25px;
}

.btn-white-outline:hover {
    background-color: #c00;
    border: #c00 1px solid;
    color: #fff;
}

a.btn.btn-block.btn-white-outline {
    background-color: transparent;
    border: #c00 1px solid;
    color: #c00;
}

a.btn.btn-block.btn-white-outline:hover {
    background-color: #c00;
    color: #fff;
    border: transparent;
}

a.btn.btn-block.btn-white-outline.schedule-cta-test-01 {
    display: none;
    background-color: #343434;
    color: #fff;
}

a.btn.btn-block.btn-white-outline.schedule-cta-test-01:hover {
    background-color: #000;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff!important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

input#gform_submit_button_1 {
    background-color: #c00;
    border: #000 0px solid;
    border-radius: 0!important;

}

#gform_submit_button_1:hover {
    background-color: #000;
    border: #000 1px solid;

}

footer a {
    font-weight: 400;
}

a:hover {
    color: #c00;
}

section.alt-bg {
    background-color: #000;
    color: #fff;
}

a.btn.btn-main.schedule-cta-test-01 {
    background-color: #c00;
    border: 1px solid #c00;
    color: white;
    border-radius: 25px;
}

a.btn.btn-main.schedule-cta-test-01:hover {
    background-color: #900;
    border: 1px solid #900;
}

.list-group-item.bg-main {
    background-color: #c00!important;
}

#scroll:hover {
    background-color: #c00!important;
}

ul.nav.navbar-nav.navbar-right.hidden-xs>li>a {
    color: #fff!important;
    background-color: #333;
}

ul.nav.navbar-nav.navbar-right.hidden-xs { color: #000!important;}
a.mainsitecta { background-color: #333;/*border: 1px solid #ddd;*/ }
a.mainsitecta.visible-lg { font-weight: bold;}
a.mainsitecta.visible-lg:hover { background-color: #000!important; color: #000!important;}